{% extends 'base.html.twig' %}
{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/list/create.css') }}">
{% endblock %}
{% block title %}{{ parent() }} Créer une liste{% endblock %}

{% block body %}
        <h1>Ajouter une To Do List</h1>

    <div class="container ">
        <div class="center color">
            {% if app.user %}{{ form_start(listeForm) }}
                {{ form_widget(listeForm) }}
                <button>Créer la liste !</button>
                {{ form_end(listeForm) }}
            {% endif %}

            {% if not app.user %}
                {% include('inc/login-register.html.twig') %}
            {% endif %}
        </div>
    </div>
{% endblock %}
