{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>
    <div class="containerform">
        <div class="content">
            {{ form_start(registrationForm) }}
            <div class="labels">
                {{ form_label(registrationForm.nom) }}
            </div>
            <div class="rightTab">
                {{ form_widget(registrationForm.nom) }}
            </div>
            <div class="labels">
                {{ form_label(registrationForm.prenom) }}
            </div>
            <div class="rightTab">
                {{ form_widget(registrationForm.prenom) }}
            </div>
            <div class="labels">
                {{ form_label(registrationForm.email) }}
            </div>
            <div class="rightTab">
                {{ form_widget(registrationForm.email) }}
            </div>
            <div class="labels">
                {{ form_label(registrationForm.adresse) }}
            </div>
            <div class="rightTab">
                {{ form_widget(registrationForm.adresse) }}
            </div>
            <div class="labels">
                {{ form_label(registrationForm.codePostal) }}
            </div>
            <div class="rightTab">
                {{ form_widget(registrationForm.codePostal) }}
            </div>
            <div class="labels">
                {{ form_label(registrationForm.ville) }}
            </div>
            <div class="rightTab">
                {{ form_widget(registrationForm.ville) }}
            </div>
            <div class="labels">
                {{ form_label(registrationForm.password.first) }}
            </div>
            <div class="rightTab">
                {{ form_widget(registrationForm.password.first) }}
            </div>
            <div class="labels">
                {{ form_label(registrationForm.password.second) }}
            </div>
            <div class="rightTab">
                {{ form_widget(registrationForm.password.second) }}
            </div>

            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
