{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} {{ liste.name }}{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/task/details.scss') }}">
{% endblock %}
{% block body %}
    <div class="box">
        <div class="one"><h2>{{ liste.name }}</h2>
            <form action="{{ path('updateTask',{'id':liste.id}) }}" method="post">
                <h3>Tâches restantes</h3>
                {% for task in liste.ListTasks %}
                    {% if task.done==false %}
                        <input class="checkbox" type="checkbox" id="{{ task.id }}" name="{{ task.id }}">
                        <label class="checkbox" for="{{ task.id }}" id="{{ task.task }}">{{ task.task }}</label>
                    {% endif %}
                {% endfor %}
                <h3>Tâches effectuées</h3>
                {% for task in liste.ListTasks %}
                    {% if task.done==1 %}
                        <input class="checkbox" type="checkbox" checked="checked" id="{{ task.id }}"
                               name="{{ task.id }}">
                        <label class="checkbox" for="{{ task.id }}" id="{{ task.task }}">{{ task.task }}</label>

                    {% endif %}
                {% endfor %}
                <button type="submit">Mettre à jour</button>
            </form>
            <form action="{{ path('listes_deleteList',{'id':liste.id}) }}" method="post">
                <button type="submit" class="btn">Supprimer cette liste</button></form>
        </div>
        <div class="two">
            <div class="color">
                {#                <div>Liste complétée{% if liste.finished==0 %} non !{% else %}{{ liste.finished }}Oui {% endif %}</div> #}
                <div>Date de création de cette liste : {{ liste.dateCreation | date ('d/m/Y H:m') }}</div>
                <div>Dernière modification effectuée le {{ liste.dateLastModification | date ('d/m/Y H:m') }}</div>

                <div><h3>Ajouter une tâche</h3>
                    {{ form_start(taskForm) }}
                    {{ form_widget(taskForm) }}
                    <button type="submit" class="btn">Ajouter cette tâche</button>
                    {{ form_end(taskForm) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
