{% block extrastyles %}{% endblock %}
<div class="pg-footer">
    <footer class="footer">
        <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 180" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                    <stop stop-color="rgba(221, 216, 196, 1)" offset="0%"></stop>
                    <stop stop-color="rgba(221, 216, 196, 1)" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
                  d="M0,72L80,66C160,60,320,48,480,63C640,78,800,120,960,114C1120,108,1280,54,1440,39C1600,24,1760,48,1920,54C2080,60,2240,48,2400,60C2560,72,2720,108,2880,111C3040,114,3200,84,3360,84C3520,84,3680,114,3840,108C4000,102,4160,60,4320,54C4480,48,4640,78,4800,102C4960,126,5120,144,5280,153C5440,162,5600,162,5760,147C5920,132,6080,102,6240,81C6400,60,6560,48,6720,60C6880,72,7040,108,7200,129C7360,150,7520,156,7680,153C7840,150,8000,138,8160,117C8320,96,8480,66,8640,66C8800,66,8960,96,9120,93C9280,90,9440,54,9600,39C9760,24,9920,30,10080,45C10240,60,10400,84,10560,99C10720,114,10880,120,11040,129C11200,138,11360,150,11440,156L11520,162L11520,180L11440,180C11360,180,11200,180,11040,180C10880,180,10720,180,10560,180C10400,180,10240,180,10080,180C9920,180,9760,180,9600,180C9440,180,9280,180,9120,180C8960,180,8800,180,8640,180C8480,180,8320,180,8160,180C8000,180,7840,180,7680,180C7520,180,7360,180,7200,180C7040,180,6880,180,6720,180C6560,180,6400,180,6240,180C6080,180,5920,180,5760,180C5600,180,5440,180,5280,180C5120,180,4960,180,4800,180C4640,180,4480,180,4320,180C4160,180,4000,180,3840,180C3680,180,3520,180,3360,180C3200,180,3040,180,2880,180C2720,180,2560,180,2400,180C2240,180,2080,180,1920,180C1760,180,1600,180,1440,180C1280,180,1120,180,960,180C800,180,640,180,480,180C320,180,160,180,80,180L0,180Z"></path>
        </svg>
        <div class="footer-content">
            <div class="footer-content-column">
                <div class="footer-logo">
                    <a class="footer-logo-link" href="{{ path('main_home') }}">
                        <h2>My Todo App</h2>
                    </a>
                </div>

            </div>
            <div class="footer-content-column">
                <div class="footer-menu">
                    <h2 class="footer-menu-name"> Get Started</h2>
                    <ul id="menu-get-started" class="footer-menu-list">
                        {% if not app.user %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-product">
                                <a href="{{ path('login') }}">Se connecter</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-product">
                                <a href="{{ path('app_register') }}">Créer un compte</a>
                            </li>
                        {% endif %}
                        {% if  app.user %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-product">
                                <a href="{{ path('listes_create') }}">Créer une liste</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-product">
                                <a href="{{ path('listes_listes') }}">Toutes mes listes</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-product">
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>{% endif %}

                    </ul>
                </div>

            </div>
            <div class="footer-content-column">
                <div class="footer-menu">
                    <h2 class="footer-menu-name"> Mataël Digital</h2>
                    <ul id="menu-company" class="footer-menu-list">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="https://matael-digital.com/contact/">Contact</a>
                        </li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                            <a href="https://matael-digital.com/">Visiter le site Web</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="https://matael-digital.com/prendre-rendez-vous/">Prendre RDV</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-menu">
                    <h2 class="footer-menu-name"> Informations légales</h2>
                    <ul id="menu-legal" class="footer-menu-list">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-170434">
                            <a href="https://matael-digital.com/mentions-legales/">Mentions légales</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="https://matael-digital.com/politique-de-cookies/">Politique de cookies</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a href="https://matael-digital.com/politique-de-confidentialite/">Politique de
                                confidentialité</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-content-column">
                <div class="footer-call-to-action">
                    <h2 class="footer-call-to-action-title"> Let's Chat</h2>
                    <p class="footer-call-to-action-description"> Have a support question?</p>
                    <a class="footer-call-to-action-button button" href="#" target="_self"> Get in Touch </a>
                </div>
                <div class="footer-call-to-action">
                    <h2 class="footer-call-to-action-title"> Nous contacter</h2>
                    <p class="footer-call-to-action-link-wrapper"><a class="footer-call-to-action-link"
                                                                     href="tel:06.06.06.06.06" target="_self">
                            06.06.06.06.06 </a></p>
                </div>
            </div>
            <div class="footer-social-links">
                <a class="footer-social-link linkedin" href="https://www.linkedin.com/in/camilleboutin/"
                   target="_blank">
                    <span class="hidden-link-text">Linkedin</span>

                </a>
                <a class="footer-social-link linkedin" href="#" target="_blank">
                    <span class="hidden-link-text">Linkedin</span>
                    <svg class="footer-social-icon-svg" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 30 30">
                        <path class="footer-social-icon-path"
                              d="M9,25H4V10h5V25z M6.501,8C5.118,8,4,6.879,4,5.499S5.12,3,6.501,3C7.879,3,9,4.121,9,5.499C9,6.879,7.879,8,6.501,8z M27,25h-4.807v-7.3c0-1.741-0.033-3.98-2.499-3.98c-2.503,0-2.888,1.896-2.888,3.854V25H12V9.989h4.614v2.051h0.065 c0.642-1.18,2.211-2.424,4.551-2.424c4.87,0,5.77,3.109,5.77,7.151C27,16.767,27,25,27,25z"></path>
                    </svg>
                </a>
                <a class="footer-social-link github" href="https://github.com/camillejmr" target="_blank">
                    <span class="hidden-link-text">Github</span>
                    <svg class="footer-social-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path class="footer-social-icon-path"
                              d="M 16 4 C 9.371094 4 4 9.371094 4 16 C 4 21.300781 7.4375 25.800781 12.207031 27.386719 C 12.808594 27.496094 13.027344 27.128906 13.027344 26.808594 C 13.027344 26.523438 13.015625 25.769531 13.011719 24.769531 C 9.671875 25.492188 8.96875 23.160156 8.96875 23.160156 C 8.421875 21.773438 7.636719 21.402344 7.636719 21.402344 C 6.546875 20.660156 7.71875 20.675781 7.71875 20.675781 C 8.921875 20.761719 9.554688 21.910156 9.554688 21.910156 C 10.625 23.746094 12.363281 23.214844 13.046875 22.910156 C 13.15625 22.132813 13.46875 21.605469 13.808594 21.304688 C 11.144531 21.003906 8.34375 19.972656 8.34375 15.375 C 8.34375 14.0625 8.8125 12.992188 9.578125 12.152344 C 9.457031 11.851563 9.042969 10.628906 9.695313 8.976563 C 9.695313 8.976563 10.703125 8.65625 12.996094 10.207031 C 13.953125 9.941406 14.980469 9.808594 16 9.804688 C 17.019531 9.808594 18.046875 9.941406 19.003906 10.207031 C 21.296875 8.65625 22.300781 8.976563 22.300781 8.976563 C 22.957031 10.628906 22.546875 11.851563 22.421875 12.152344 C 23.191406 12.992188 23.652344 14.0625 23.652344 15.375 C 23.652344 19.984375 20.847656 20.996094 18.175781 21.296875 C 18.605469 21.664063 18.988281 22.398438 18.988281 23.515625 C 18.988281 25.121094 18.976563 26.414063 18.976563 26.808594 C 18.976563 27.128906 19.191406 27.503906 19.800781 27.386719 C 24.566406 25.796875 28 21.300781 28 16 C 28 9.371094 22.628906 4 16 4 Z "></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright-wrapper">
                <p class="footer-copyright-text">
                    <a class="footer-copyright-link" href="https://matael-digital.com/" target="_self"> ©2022. | Mataël
                        Digital | </a>
                </p>
            </div>
        </div>
    </footer>
</div>
